<!DOCTYPE html>
<html lang="en">
  <head>
  </head>

  <body>

	<form action = "/" method = "POST">
		
		<p>
			<label>Amount <input type="text" name="amount" value="<%=amount%>"></label>
		</p>

		<p> 
			<label for="original_currency">Original Currency</label>
			<select id="original_currency" name="original_currency"> 
				<% currencies.each do |currency| %>
				<option <%if currency == original_currency%> selected <%end%>
					value="<%= currency %>"> <%= currency %>
				</option>

				<% end %>
			</select>
  		</p>

  		<p> 
			<label for="target_currency">Target Currency</label>
			<select id="target_currency" name="target_currency">
				<% currencies.each do |currency| %>
				<option <%if currency == target_currency%> selected <%end%>
					value="<%= currency %>"> <%= currency %>
				</option>
				<% end %>
			</select>
  		</p>
  		<button>Convert</button>
		<p> Converted amount: <%= target_amount %> </p>
	</form>


	<br>
	<br>
  </body>

</html>